.landing__dot{
    position: absolute;
    z-index: 0;
    /* filter: grayscale(); */
}

#landing__dot-1{
    top: 0;
    left: -20px;
}

#landing__dot-2{
    top: 300px;
    right: -100px;
    width: 250px;
}

#landing__dot-3{
    bottom: -125px;
    width: 200px;
    left: 0;
    z-index: 101;
}

/* Container */

.landing__container{
    height: calc(100vh - 50px);
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 15px;
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    position: relative;
    z-index: 100;
}

.landing__container__logo{
    width: 150px;
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.068) );
}

.landing__container__name{
    font-size: 2.75rem;
    text-align: center;
    margin-top: 1rem;
    color: aliceblue;
}

.landing__container__button{
    width: 100%;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.055);
    border-radius: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.landing__container__button a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.landing__container__button a:focus{
    color: #fff;
}

#landing__container__button-presupuestar{
    background-color: var(--color-secondary);
}

#landing__container__button-fechas{
    background-color: var(--color-divided);
}

#landing__container__button-contacto{
    background-color: var(--color-tertiary);
}

.copyright{
    position: absolute;
    bottom: -10px;
    right: 10px;
    color: rgb(153, 153, 153);
}