.bg__dot{
    position: fixed;
    z-index: 0;
    /* filter: grayscale(); */
}

#bg__dot-1{
    top: 0;
    left: -20px;
    width: 138px;
}

#bg__dot-2{
    top: 300px;
    right: -100px;
    width: 250px;
}

#bg__dot-3{
    bottom: -145px;
    width: 200px;
}

/* Container */

.bg__container{
    /* height: 100%; */
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 15px;
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    position: relative;
    z-index: 100;
}


@media screen and (min-width: 992px) {
    .screenBg {
      padding: 0 20rem !important;
    }
    
  }