.list__container {
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.486);
  color: #2f2f2f;
}

.list__container--ocupada{
  background-color: rgba(255, 172, 172, 0.486);
  color: #2f2f2f;
}

.event__mainHr {
  border-top: 3px solid #333333;
  border-radius: 20px;
}

.event__title {
  color: #2f2f2f;
  font-size: 30px;
  line-height: 20px;
}

.event__title__fecha {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.event__detail__group,
.event__buttons {
  display: flex;
  justify-content: space-between;
}

.event__content {
  max-width: 150px;
  text-align: end;
}

.form__button--blue {
  color: aliceblue !important;
  background: linear-gradient(
    0deg,
    var(--color-blue-dark) 0%,
    var(--color-blue-light) 100%
  ) !important;
}

.form__button--yellow {
  background: linear-gradient(
    45deg,
    var(--color-yellow-dark) 0%,
    var(--color-yellow-light) 100%
  ) !important;
}

.form__button--wpp{
  color: #fff !important;
  width: 50px !important;
  padding: 0.5rem 1.1rem !important;
  background: linear-gradient(
    45deg,
    var(--color-green-dark) 0%,
    var(--color-green-light) 100%
  ) !important;
}

@media screen and (min-width: 992px) {
  .event__content {
    max-width: 500px;
  }
}
