.landing__button {
  width: 100%;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 60px;
  padding: 0 1rem;
  background: linear-gradient(45deg, var(--color-blue-dark) 0%, var(--color-red-light) 110%);
  position: relative;
  transition: background-color 0.25s;
}

.landing__button p {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.landing__button i {
  font-size: 1.25rem;
}

.landing__button__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__button--disabled {
  background: rgb(122, 122, 122);
  cursor: not-allowed;
}

.landing__button--disabled:hover {
  cursor: not-allowed;
}

.landing__button--disabled p,
.landing__button--disabled i {
  color: #bbbbbb !important;
}

.landing__button__proximamente {
  line-height: 15px;
}

#landing__button-despedida {
  background: linear-gradient(
    45deg,
    var(--color-red-dark) 0%,
    var(--color-red-light) 100%
  );
}
/*
#landing__button-presupuestar:not(.landing__button--disabled):hover {
  background-color: var(--color-red-dark);
}

#landing__button-fechas {
  background: linear-gradient(
    45deg,
    var(--color-blue-dark) 0%,
    var(--color-blue-light) 100%
  );
}

#landing__button-fechas:not(.landing__button--disabled):hover {
  background-color: var(--color-blue-dark);
}

#landing__button-musica {
  background: linear-gradient(
    45deg,
    var(--color-yellow-dark) 0%,
    var(--color-yellow-light) 100%
  );
}

#landing__button-musica:not(.landing__button--disabled):hover {
  background-color: var(--color-yellow-dark);
}

#landing__button-contacto {
  background: linear-gradient(
    45deg,
    var(--color-green-dark) 0%,
    var(--color-green-light) 100%
  );
}

#landing__button-contacto:not(.landing__button--disabled):hover {
  background-color: var(--color-green-dark);
}

#landing__button-redes {
  background: linear-gradient(
    45deg,
    var(--color-gray-dark) 0%,
    var(--color-gray-light) 100%
  );
}

#landing__button-redes:not(.landing__button--disabled):hover {
  background-color: var(--color-gray-dark);
} */
