.App {
  background-image: linear-gradient(
    180deg,
    var(--color-bg-dark) 5%,
    var(--color-bg-light) 20%,
    var(--color-bg-light) 60%,
    var(--color-bg-dark) 95%
  );

  min-height: 100vh;
  height: 100%;
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  .App {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}
