@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:wght@200&display=swap");

:root{
  --color-bg-dark:#2f2f2f;
  --color-bg-light:#444444;

  /* --color-primary: #5a98fd;
  --color-primary-dark: #2f6ed3;
  --color-primary-light: #7fade2; */

  --color-primary: #8db2e0;

  --color-secondary: #ff6961;
  --color-tertiary: #77dd77;
  --color-divided: #5a98fd;
  --color-yellow: #eccf28;
}

body {
  font-family: "Nunito", sans-serif;
}

.main__title {
  font-family: "Koulen", "Nunito", sans-serif;
}
